config network
        option transmit_interface 'eth0'
        option receive_interface 'ifb4eth0'
        option transmit_kbits_base '25750'
        option receive_kbits_base '462500'
        option transmit_kbits_min '500'
        option receive_kbits_min '1500'
        option reflector_type 'icmp'

config output
        option verbose 'true'
        option stats_file '/tmp/sqm-autorate.csv'
        option speed_hist_file '/tmp/sqm-speedhist.csv'
        option hist_size '100'
