config network
        option transmit_kbits_min '500'
        option receive_kbits_min '1500'
        option reflector_type 'icmp'

config output
        option verbose 'true'
        option stats_file '/tmp/sqm-autorate.csv'
        option speed_hist_file '/tmp/sqm-speedhist.csv'
        option hist_size '100'
