#!/bin/sh /etc/rc.common
# Copyright (C) 2007 OpenWrt.org

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
export LUA_CPATH="/usr/lib/lua/5.1/?.so;./?.so;/usr/lib/lua/?.so;/usr/lib/lua/loadall.so"
export LUA_PATH="./?.lua;/usr/share/lua/5.1/?.lua;/usr/share/lua/5.1/?/init.lua;/usr/share/lua/?.lua;/usr/share/lua/?/init.lua;/usr/lib/lua/?.lua;/usr/lib/lua/?/init.lua"

START=97
STOP=4

PID_FILE=/tmp/run/sqm-autorate.pid

exec &>/tmp/sqm-autorate.log

service_triggers() {
    procd_add_reload_trigger "sqm-autorate"
}

start() {
    cd /usr/lib/sqm-autorate
    lua sqm-autorate.lua &
    echo $! >/tmp/run/sqm-autorate.pid
}

stop() {
    if [ -f $PID_FILE ]; then
        kill -9 "$(cat $PID_FILE)" && rm -f $PID_FILE
    fi
}
