config network
        option upload_interface 'wan'
        option download_interface 'ifb4wan'
        option upload_kbits_base '10000'
        option download_kbits_base '10000'

config output
        option log_level 'INFO'
        option stats_file '/tmp/sqm-autorate.csv'
        option speed_hist_file '/tmp/sqm-speedhist.csv'
