config network
        option upload_interface 'wan'
        option download_interface 'ifb4wan'
        option upload_base_kbits '10000'
        option download_base_kbits '10000'
        option upload_min_percent '20'
        option download_min_percent '20'

config output
        option log_level 'INFO'
        option stats_file '/tmp/sqm-autorate.csv'
        option speed_hist_file '/tmp/sqm-speedhist.csv'
