config network
        option upload_interface 'wan'
        option download_interface 'ifb4wan'
        option upload_base_kbits '10000'
        option download_base_kbits '10000'
        option upload_min_percent '20'
        option download_min_percent '20'

config output
        option log_level 'WARN'                 # Change to DEBUG to see more detail logged in /tmp/
        option suppress_statistics 'yes'        # Change to 'no', 'false', '0' to enable statistics and speedhist in /tmp/
        option stats_file '/tmp/sqm-autorate.csv'
        option speed_hist_file '/tmp/sqm-speedhist.csv'
