name: "Lua Check"

on:
  push:
  pull_request:
  schedule:
    - cron: '36 3 * * 5'

permissions:
  contents: read

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'lua' ]

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - name: Checkout repository
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

    - name: Install Luarocks
      run: |
        sudo apt install luarocks

    - name: Install Luacheck
      run: |
        sudo luarocks install luacheck
        luacheck -v
        sudo luarocks install luafilesystem

    - name: Run LuaCheck
      run: |
        luacheck lib
